body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar-nav a {
    margin: 8px -15px 0 15px;
}
.starter-template .inactive {
	display:none;
}
.starter-template div {
	padding-top:10px;
	    min-height:500px;

}